table{
    width: 95%;
    text-align: center;
    border: solid;
    border-color: #801338;
    height:300px;
    font-size: xx-large;
    font-family: none;
    color: black;
}
td{
    opacity: 0.1;
}
h3{
    color: #801338;
    font-size: large;
}
